<% if user_signed_in? %>
  <% if @useful_hash.has_value?(trading_method.id) %>
    &nbsp;&nbsp;<%= link_to image_tag("useful_yellow.png", width:'23px'), trading_method_useful_path(trading_method.id,@useful_hash.key(trading_method.id)), method: :delete, class:"icon-button", id: "useful-button", remote: true %>&nbsp;&nbsp;
    <span class="cp_tooltiptext_icon">使える手法から外す</span>
  <% else %>
    &nbsp;&nbsp;<%= link_to image_tag("useful_gray.png", width:'23px'), trading_method_usefuls_path(trading_method_id: trading_method.id), method: :post, class:"icon-button", id: "useful-button", remote: true %>&nbsp;&nbsp;
    <span class="cp_tooltiptext_icon">使える！</span>
  <% end %>
<% end %>